a {
    color: pink;
    text-decoration: underline;
}

p {
    color: purple;
}

a {
    color: purple;
}

/* Comment */

p.foo { 
    background: #999;
}

p, a { 
    text-align: center;
}


.foo, html {
    color: #867530;
}

html {
    color: #999;
}

html#bar {
    font-family: "Helvetica Neue";
}

html.foo {
    text-align: center;
}
